.dashboard {
    min-width: 100%;
    padding: 0;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .dashboard {
        margin: 0 -15px 0 -15px;
    }

    .row, .container,
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin: 0;
        padding: 0;
    }

}

.dashboard::after,
.dashboard::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.dashboard li {
    float: left;
    width: 33.3%;
    height: 115px;
    padding: 10px;
    font-size: 1em;
    list-style: none;
    line-height: 1.4;
    text-align: center;
    background-color: #eee;
    border: 1px solid #fff;
    color: #333;
}

.dashboard li .glyphicon {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.dashboard li:hover {
    color: #fff;
    background-color: #6f5499;
}

.dashboard-title {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.legend {
    width: 165px;
    top: 0;
    padding-top: 50px;
    color: #000;
    font-family: Georgia, serif;
    font-size: 11pt;
}

.legend span {
    border-color: #000;
    cursor: pointer;
    padding-left: 5px;
}

.legend span:hover {
    border-width: 1px !important;
}

.legend span:hover::after {
    content: none !important;
}

.no-bg-color {
    background-color: inherit;
}

#search-results {
    padding-left: 5px;
}

footer {
    text-align: center;
}
