APP_NAME="Lrml Search"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=lrmlsearch
DB_USERNAME=postgres
DB_PASSWORD=94c04d2dfcf13808dd3afcc0781f44cf18531a77af07801665688c7abcdbc1ba

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

#REDIS_HOST=127.0.0.1
#REDIS_PASSWORD=null
#REDIS_PORT=6379

#MAIL_DRIVER=smtp
#MAIL_HOST=smtp.mailtrap.io
#MAIL_PORT=2525
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null

#PUSHER_APP_ID=
#PUSHER_APP_KEY=
#PUSHER_APP_SECRET=

BASEX_HOST=xmldb
BASEX_PORT=1984
BASEX_USERNAME=admin
BASEX_PASSWORD=admin
